<!-- File: imagesource.html -->
{% if imagesource %}
	<h1>ImageSource {{ imagesource.id }}</h1>
	
	<table id="imgsrc-detail">
	<tr><td>name:</td><td id="imgsrc-name">{{ imagesource.name }}</td></tr>
	<tr><td>srctype:</td><td id="imgsrc-srctype">{{ imagesource.srctype }}</td></tr>
	<tr><td>path:</td><td id="imgsrc-path">{{ imagesource.path }}</td></tr>
	</table>
{% else %}
    <p>ImageSource: null</p>
{% endif %}