<!-- File: imageview.html -->
<h3>ImageSource: {{ imagesource.name }}</h3>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div id="ImageContainer" >
    <img src="{{ image_url }}" class="imageview-img" style="max-width: 640px;" alt="My image"/>
</div>
<a href="/imagesource/{{ imagesource.id }}/{{ prev_index }}/">Prev</a>
&nbsp;index[{{ index }}]&nbsp;
<a href="/imagesource/{{ imagesource.id }}/{{ next_index }}/">Next</a>

