
<form name="input" action="/imagesource/select/" method="get">
	<select id="id_select_imagesource" name="select_imagesource" onchange="this.form.submit()">
	{% for imagesource in sources %}
	   <option value="{{imagesource_id}}"
	       {% if imagesource.id == imagesource_id %}selected="selected"{% endif %}>
	       {{ imagesource.name }}
	   </option>
	{% endfor %}
	</select>
</form>