<h1>ImageSources index</h1>
{% if sources %}
    <ul>
    {% for imagesource in sources %}
        <li>
        	<a href="/imagesource/{{ imagesource.id }}/">{{ imagesource.name }}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    ImageSources: null
{% endif %}